[Credentials]
language=[REPLACE_WITH_YOUR_LANGUAGE]
mode=[REPLACE_WITH_YOUR_MODE]
accessKeyID=[REPLACE_WITH_YOUR_ACCESS_KEY_ID]
accessKeySecret=[REPLACE_WITH_YOUR_ACCESS_KEY_SECRET]
endpoint=[REPLACE_WITH_YOUR_ENDPOINT]
